.cardZoom:hover {
  transform: scale(1.2);
}

.cardStoriesTop {
  height: 100%;
  max-width: 100%;
  transition: transform 0.3s ease;
  object-fit: cover;
  position: relative;
}

.cardStoriesBottom {
  height: 100%;
  max-width: 100%;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.newsHover:hover {
  color: #e30017;
}

.overflowText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pictureText {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  background-color: inherit;
  color: white;
  width: 550px;
}

.bannerText {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-color: inherit;
  color: white;
  width: 550px;
}

.logoCss {
  width: 24px;
  height: 24px;
  margin-right: 50px;
  color: white;
}

.glologo {
  width: 24px;
  height: 24px;
}

.css-1tyumyi-MuiContainer-root {
  padding-left: none !important;
  padding-right: none !important;
  margin-top: none !important;
}

.css-lzq37d-MuiGrid-root{
  padding-left: 5px !important;
  padding-right: 5px !important;
}


@media (max-width: 1200px) {
  .res{
    width: 365px !important;
  }
}
@media (max-width: 1155px) {
  .res{
    width: 350px !important;
  }
}
@media (max-width: 1110px) {
  .res{
    width: 330px !important;
  }
}
@media (max-width: 1050px) {
  .res{
    width: 290px !important;
  }
}

@media (max-width: 930px) {
  .res{
    width: 254px !important;
  }
}
@media (max-width: 825px) {
  .res{
    width: 370px !important;
  }
}
@media (max-width: 600px) {
  .res{
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .pictureText {
    position: relative;
    top: -280px;
    left: auto;
    transform: none;
    text-align: center;
    color: white;
  }

  .reslogo {
    position: relative;
    top: 20px;
  }

  .logoCss {
    margin-bottom: 20px;
  }

  .resglo {
    display: inline-block;
    width: 100%;
  }
  
}

@media (min-width: 1200px) {
  .css-1tyumyi-MuiContainer-root {
    max-width: none !important;
  }
}

.css-1tyumyi-MuiContainer-root {
  margin-top: 0 !important;
}
@media (min-width: 600px) {
  .css-1tyumyi-MuiContainer-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .css-14fd9ja-MuiContainer-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
