.cardZoom:hover {
  transform: scale(1.2);
}

.cardStoriesTop {
  height: 100%;
  max-width: 100%;
  transition: transform 0.3s ease;
  object-fit: cover;
  position: relative;
}



.cardStoriesBottom {
  height: 100%;
  max-width: 100%;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.newsHover:hover {
  color: #e30017;
}

.overflowText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pictureText {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  background-color: inherit;
  color: white;
  width: 550px;
}

.logoCss {
  width: 24px;
  height: 24px;
  margin-right: 50px;
  color: white;
}

.glologo {
  width: 24px;
  height: 24px;
}




@media (max-width: 767px) {
  .pictureText {
    position: relative;
    top: -280px;
    left: auto;
    transform: none;
    text-align: center;
    color: white;
  }

  .reslogo {
    position: relative;
    top: 20px;
  }

  .logoCss {
    margin-bottom: 20px;
  }

  .resglo {
    display: inline-block;
    width: 100%;
  }
}
